/* General Styles  */
*{
    margin: 0px;
}
:root{
    --primary-color:#FF42A5;
}
.container{
    max-width: 1000px;
    margin: auto;
}
ul{
    padding: 0px;
    display: flex;
}
ul li{
    display: flex;
}


 /* Header navigation section Style */

.header-nav .container{
    display: flex;
    justify-content: space-between;
}